:root {
  --headers-color: #212121;
  --accent-color: #2196f3;
  --accent-opacity-color: rgba(33, 150, 243, 0.9);
  --text-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --portfolio-border: #eeeeee;
  --port-header-border: #ececec;
  --bgc: #2f303a;
  --button-bcg-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-icons-bcg-color: rgba(255, 255, 255, 0.1);
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --wedo-bgc: rgba(47, 48, 58, 0.8);
  --icon-color: #afb1b8;
  --modal-bgc: rgba(0, 0, 0, 0.2);
  --close-border-color: rgba(0, 0, 0, 0.1);
  --form-field-border: rgba(33, 33, 33, 0.2);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --textarea-placeholder-color: rgba(117, 117, 117, 0.5);
}
/*общие стили*/
body {
  color: var(--text-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
  font-family: roboto, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*общие стили*/
/* шапка */
.container.header {
  display: flex;
  align-items: center;
}
/*логотип*/
.logo {
  display: block;
  margin-right: 93px;

  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: var(--accent-color);
}
/*логотип*/
/*навигация*/
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  position: relative;

  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--headers-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.nav-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}
/* ссылки  */
.box {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.box a:not(:last-child) {
  margin-right: 50px;
}
.contakts {
  display: inline-flex;
  align-items: center;

  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts:hover,
.contakts:focus {
  color: var(--accent-color);
}
.icon-header {
  /* иконки в ссылках */
  margin-right: 10px;

  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts:hover .icon-header,
.contakts:focus .icon-header {
  fill: var(--accent-color);
}

/*шапка*/
/*hero*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bgc);
  color: var(--white-color);
  background-image: linear-gradient(
      to right,
      var(--hero-bg-color),
      var(--hero-bg-color)
    ),
    url(../images/herobg-optim.jpg);

  letter-spacing: 0.06em;
  text-align: center;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
}
.hero button,
.modal button[type="submit"] {
  display: inline-block;

  padding: 10px 32px;

  border: none;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.hero button:hover {
  cursor: pointer;
}
/*hero*/
/*features*/
.featuresbox {
  /* список особенностей*/
  display: flex;
}
.featuresbox > li {
  width: calc((100% - 90px) / 4);
}
.featuresbox > li:not(:last-child) {
  margin-right: 30px;
}
.features-items {
  /* заголовок пункта списка */
  color: var(--headers-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.features-items + p {
  font-size: 14px;
  line-height: 1.71;

  margin: 0;
}
.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--button-bcg-color);

  width: 270px;
  height: 120px;

  margin-bottom: 30px;
}
/*occupations*/
.section-padding.wedo {
  padding-top: 0;
}
.wedo {
  /* список занятий */
  display: flex;
  justify-content: space-between;
}
.wedo li {
  width: calc((100% - 60px) / 3);
}
.card {
  /* обертка для картинки и подписи поверх */
  position: relative;
}
.card p {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;

  background-color: var(--wedo-bgc);
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
/*occupations*/
/* team*/
.ourteam {
  /* секция */
  background-color: var(--button-bcg-color);
}
.occupations,
.team,
.clients-header {
  /* заголовки секций */
  color: var(--headers-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.team-description {
  /* карточка члена команды */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-description > img {
  margin-bottom: 30px;
}
.team-name {
  /* имя члена команды */
  color: var(--headers-color);

  font-weight: 500;
  font-size: inherit;

  margin-top: 0px;
  margin-bottom: 10px;
}
.team-description > p {
  /* профессия члена команды */
  margin-top: 0;
  margin-bottom: 16px;
}
.team-list {
  /* список карточек */
  display: flex;
  justify-content: space-between;
}
.team-list > li {
  /* элемент списка карточек */
  width: calc((100% - 90px) / 4);
}
.socmedia-list {
  /* иконки соцсетей */
  display: flex;
  justify-content: space-between;

  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}
.team-icon {
  /* ссылка на соцсеть */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-description .icon-socmedia {
  /* иконка соцсети */
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon:hover .icon-socmedia,
.team-icon:focus .icon-socmedia {
  fill: var(--white-color);
}
.team-icon:hover,
.team-icon:focus {
  background-color: var(--accent-color);
}
/*team*/
/*clients*/
.clients-list {
  /* список логотипов клиентов */
  display: flex;
  justify-content: space-between;
}
.clients-list a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  border: 1px solid var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list a:hover,
.clients-list a:focus {
  border: 1px solid var(--accent-color);
}
.icon-client {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list a:hover .icon-client,
.clients-list a:focus .icon-client {
  fill: var(--accent-color);
}
/*clients*/
/*футер*/
footer .container {
  display: flex;
  align-items: baseline;
}
/* первый блок */
.main-background {
  background-color: var(--bgc);
}
.footer > p {
  /* адрес */
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--white-color);

  margin-top: 0;
  margin-bottom: 9px;
}
.footer > a {
  /* контакты */
  color: var(--footer-address-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.logo.inverse {
  display: inline-block;

  padding-top: 60px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 0;

  color: var(--white-color);
}
.contakts.mail {
  margin-bottom: 9px;
}
.footer {
  /* блок с адресом */
  display: flex;
  flex-direction: column;

  padding-bottom: 60px;
}
/* второй блок */
.join-container {
  width: 206px;
  margin-left: 70px;
}
.join {
  /* слоган */
  display: block;

  color: var(--white-color);

  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
}
footer .join-list {
  /* список соцсетей */
  display: flex;
  justify-content: space-between;

  padding: 0;
}
footer .team-icon {
  fill: var(--white-color);
  background-color: var(--footer-icons-bcg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .team-icon:hover,
footer .team-icon:focus {
  background-color: var(--accent-color);
}
/* третий блок */
.signup-container {
  margin-right: 0;
  margin-left: auto;
}
.signup-container b {
  display: block;

  margin-bottom: 20px;

  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.signup-container input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background-color: var(--bgc);
  border: 1px solid var(--footer-input-border);
  border-radius: 4px;
  color: var(--footer-address-color);
}
.signup-container input::placeholder {
  color: var(--footer-address-color);

  padding-top: 15px;
  padding-bottom: 15px;
}
.signup-container button {
  display: inline-flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 28px 10px 29px;
}
.signup-container button:hover {
  cursor: pointer;
}
.icon-plane {
  margin-left: 10px;
  fill: var(--white-color);
}
/*футер*/
/*portfolio*/
.port-header {
  /* хедер */
  border-bottom: 1px solid var(--port-header-border);
}
.filter-collection {
  /* форма либо контейнер нав */
  display: flex;
  justify-content: center;

  margin-bottom: 34px;
}
.filter {
  /* метка либо кнопка */
  color: var(--headers-color);
  background-color: var(--button-bcg-color);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 6px 22px;
}
.filter:not(:last-child) {
  margin-right: 8px;
}
.filter-collection input:focus + filter {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item {
  /* заголовок карточки портфолио */
  color: var(--headers-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-example {
  /* текст в карточке портфолио */
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.87;

  margin: 0;
}
.border {
  /* контейнер для всего текста под картинкой */
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;

  border-bottom: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-left: 1px solid var(--portfolio-border);
}
.list.portfolio {
  /* список карточек */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.list.portfolio a {
  /* в ссылке вся карточка */
  display: block;
}
.list.portfolio > li {
  width: calc((100% - 60px) / 3);
}
.list.portfolio > li:nth-child(3n + 2) {
  margin-right: 30px;
  margin-left: 30px;
}
.list.portfolio > li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.list.portfolio a:hover,
.list.portfolio a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card {
  /* обертка для картинки и текста поверх */
  position: relative;
  overflow: hidden;
}
.portfolio-card p {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--white-color);
  background-color: var(--accent-opacity-color);
}
.list.portfolio a:hover .portfolio-card p,
.list.portfolio a:focus .portfolio-card p {
  transform: translateY(0);
}
/*portfolio*/
/*modal window*/
.backdrop {
  /* серый фон */
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-bgc);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%) scale(1.5);
}
.modal {
  position: fixed;
  top: 221px;
  left: 50%;

  transform: translate(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;

  background-color: var(--white-color);
  border-radius: 4px;
}
.close {
  /* кнопка закрытия мод окна */
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  background-color: var(--white-color);
  border: 1px solid var(--close-border-color);
  border-radius: 50%;
}
.icon-close {
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover .icon-close {
  fill: var(--accent-color);
}
.close:hover {
  cursor: pointer;
}
.modal > form {
  box-sizing: content-box;

  width: 448px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-title {
  display: inline-block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--headers-color);

  margin-bottom: 12px;
}
.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.form-field > label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-field > input {
  border: 1px solid var(--form-field-border);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-left: 42px;

  height: 40px;
}
.icon-input {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: var(--headers-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:hover .icon-input,
.form-field:focus .icon-input {
  fill: var(--accent-color);
}
.form-field input:hover,
.form-field > textarea:hover,
.form-field input:focus,
.form-field > textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.form-field > textarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;

  border: 1px solid var(--form-field-border);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field > textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--textarea-placeholder-color);
}
.checkbox {
  /* контейнер для галочки и текста */
  margin-bottom: 30px;
}
.form-field.checkbox > label {
  display: inline-block;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.agree-background {
  /* кастомный чекбокс */
  display: inline-block;
  position: relative;

  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 1px solid var(--headers-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-agree {
  position: absolute;
  top: -2px;
  left: -2px;

  fill: white;
  stroke: white;
}
.i-do:checked + .agree-background {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.i-do:focus + .agree-background {
  border-color: var(--accent-color);
}
.form-field a {
  color: var(--accent-color);
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.send-button {
  display: flex;
  justify-content: center;
}
.send-button > button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*modal window*/
